API_HOST = your_api_host
API_PORT = your_api_port

ELASTIC_HOST = your_elasticsearch_host
ELASTIC_PORT = your_elasticsearch_port
ELASTIC_SHEMA = "https://"

REDIS_HOST = your_redis_host
REDIS_PORT = your_redis_port
