PSQL_HOST = your_postgers_host
PSQL_PORT = your_postgres_port
PSQL_DB_NAME = your_postgres_db
PSQL_USER = your_postgers_user
PSQL_PASSWORD = your_postgers_password

ELASTICSEARCH_HOST = your_elasticsearch_host
ELASTICSEARCH_PORT = your_elasticsearch_port

REDIS_HOST = your_redis_host
REDIS_PORT = your_redis_port
